@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}


:root {
  --primary-color: #002f34;
  --secondary-color: #237c6b;
  --btn-color: gold;
}

.signUp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUp-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 3rem 5rem;
}

.signUp-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

h3 {
  text-align: center;
  font-size: 30px;
  color: var(--primary-color);
}

hr {
  border-top: 1px solid rgb(206, 206, 206);
  margin: 35px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  color: grey;
  text-align: left;
  width: 360px;
  margin-bottom: 5px;
  font-size: 17px;
}

input {
  width: 360px;
  height: 50px;
  margin-bottom: 11px;
  padding-left: 10px;
  border: 2px solid var(--secondary-color);
}

.radio-div {
  margin-bottom: 10px;
}

.radio-btn {
  width: auto;
  height: auto;
}

button {
  width: 360px;
  height: 50px;
  background-color: var(--btn-color);
  border: 5px solid var(--btn-color);
  font-weight: 700;
  cursor: pointer;
  margin: 1rem 0;
  font-size: 17px;
}

button:hover {
  background-color: white;
  transition: all 0.3s ease;
}

p {
  margin: 0;
  margin-bottom: 11px;
  color: red;
  text-align: left;
  width: 360px;
  /* font-size: 0.5rem; */
}